spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false

  datasource:
    url: jdbc:postgresql://${APP_DB_URL:localhost}:${APP_DB_PORT:5432}/${APP_DB_NAME:healthcare-management}
    username: ${APP_DB_USERNAME:postgres}
    password: ${APP_DB_PASSWORD:admin}

  jpa:
    hibernate:
      ddl-auto: update
    openInView: false
    show_sql: true
    generate-ddl: true

  data:
    jpa:
      repositories.enabled: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  web:
    resources:
      static-locations:
        - classpath:/static/
        - file:uploads/

frontend:
  url: ${FRONTEND_URL:http://localhost:4200}